{% extends 'todo_base.html' %}

{% block listcontent %}
{% if all_items %}

{% regroup all_items by ddl_date as items_by_date %}
<div class="container-fluid d-flex flex-xl-wrap">
    {% for items in items_by_date %}

    <div class='card bg-light mx-md-2' style="width:23rem;">
        <div class="card-header">{{ items.grouper}}</div>
        <div class="card-body p-0">
            <ul class="list-group">
                {% for item in items.list %}
                {% if item.completed %}
                <div id="card-{{ item.id }}">
                    <div class="card" style="width:23rem;">
                        <div class="card-header" id="heading-{{ item.id }}">
                            <div class="row">
                                <div class="col p-0 mt-auto mb-auto">
                                    <div>
                                        <button class="btn btn-link collapsed mx-md-0 mr-auto" data-toggle="collapse"
                                            data-target="#collapse-{{ item.id }}" aria-expanded="false"
                                            aria-controls="collapse-{{ item.id }}">
                                            {{ item.item }}
                                        </button>
                                        <span class="badge badge-pill badge-success ">Completed</span>
                                    </div>
                                </div>
                                <div class="col p-0 mt-auto mb-auto">
                                    <div class="d-flex justify-content-end">
                                        {{ item.points }}

                                        <a href="{% url 'uncross' item.id %}">&#10006;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapse-{{ item.id }}" class="collapse" aria-labelledby="heading-{{ item.id }}"
                            data-parent="#card-{{ item.id }}">
                            <div class="card-body">
                                <a href="{% url 'delete' item.id %}"><img
                                        src="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/png/trash-2x.png"></span></a>
                                <a href="{% url 'edit' item.id %}"><img
                                        src="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/png/pencil-2x.png"></a>
                                {{ item.description }}
                            </div>
                        </div>
                    </div>
                </div>

                {% else %}
                <div id="card-{{ item.id }}">
                    <div class="card" style="width:23rem;">
                        <div class="card-header" id="heading-{{ item.id }}">
                            <div class="row">
                                <div class="col p-0 mt-auto mb-auto">
                                    <div>
                                        <button class="btn btn-link collapsed mx-md-0 mr-auto" data-toggle="collapse"
                                            data-target="#collapse-{{ item.id }}" aria-expanded="false"
                                            aria-controls="collapse-{{ item.id }}">
                                            {{ item.item }}
                                        </button>
                                        <span class="badge badge-pill badge-warning">Incompleted</span>
                                    </div>
                                </div>
                                <div class="col p-0 mt-auto mb-auto">
                                    <div class="d-flex justify-content-end">
                                        {{ item.points }}

                                        <a href="{% url 'cross-off' item.id %}">&#10004;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapse-{{ item.id }}" class="collapse" aria-labelledby="heading-{{ item.id }}"
                            data-parent="#card-{{ item.id }}">
                            <div class="card-body">
                                <a href="{% url 'delete' item.id %}"><img
                                        src="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/png/trash-2x.png"></span></a>
                                <a href="{% url 'edit' item.id %}"><img
                                        src="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/png/pencil-2x.png"></a>
                                {{ item.description }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>


{% endif %}
{% endblock %}