{% extends 'todo_base.html' %}

{% block listcontent %}
{% if all_items %}

{% regroup all_items|dictsort:"ddl_date" by ddl_date as items_by_date %}
<div class="container-fluid d-flex flex-xl-wrap">
    {% for items in items_by_date %}

    <div class='card bg-light m-3' style="min-width:23rem;">
        <div class="card-header">{{ items.grouper}}</div>
        <div class="card-body p-0" style="width:23rem;">
            <ul class="list-group">
                {% for item in items.list %}
                {% if item.completed %}
                <div id="card-{{ item.id }}">
                    <div class="card" style="width:23rem;">
                        <div class="card-header d-flex flex-row" id="heading-{{ item.id }}">
                            <div class="p-0 mr-auto">
                                <div>
                                    <span class="badge badge-success "><a
                                            href="{% url 'uncross' item.id %}">&#10004;</a></span>
                                    <button class="btn btn-link collapsed mx-md-0 mr-auto" data-toggle="collapse"
                                        data-target="#collapse-{{ item.id }}" aria-expanded="false"
                                        aria-controls="collapse-{{ item.id }}">
                                        {{ item.item }}
                                    </button>

                                </div>
                            </div>
                            <div class="p-0 mt-auto mb-auto d-inline-flex">
                                <div class="d-flex justify-content-end">
                                    {{ item.points }}
                                </div>
                            </div>
                        </div>
                        <div id="collapse-{{ item.id }}" class="collapse" aria-labelledby="heading-{{ item.id }}"
                            data-parent="#card-{{ item.id }}">
                            <div class="card-body">
                                <a href="{% url 'delete' item.id %}"><i class="material-icons">delete</i></a>
                                <a href="{% url 'edit' item.id %}"><i class="material-icons">edit</i></a>
                                {{ item.description }}
                            </div>
                        </div>
                    </div>
                </div>

                {% else %}
                <div id="card-{{ item.id }}">
                    <div class="card" style="width:23rem;">
                        <div class="card-header  d-flex flex-row" id="heading-{{ item.id }}">
                            <div class="p-0 mr-auto">
                                <div>
                                    <span class="badge badge-warning "><a
                                            href="{% url 'cross-off' item.id %}">&#10006;</a></span>
                                    <button class="btn btn-link collapsed mx-md-0 mr-auto" data-toggle="collapse"
                                        data-target="#collapse-{{ item.id }}" aria-expanded="false"
                                        aria-controls="collapse-{{ item.id }}">
                                        {{ item.item }}
                                    </button>
                                </div>
                            </div>
                            <div class="p-0 mt-auto mb-auto d-inline-flex">
                                <div class="d-flex justify-content-end">
                                    {{ item.points }}
                                </div>
                            </div>
                        </div>
                        <div id="collapse-{{ item.id }}" class="collapse" aria-labelledby="heading-{{ item.id }}"
                            data-parent="#card-{{ item.id }}">
                            <div class="card-body">
                                <a href="{% url 'delete' item.id %}"><i class="material-icons">delete</i></a>
                                <a href="{% url 'edit' item.id %}"><i class="material-icons">edit</i></a>
                                {{ item.description }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>


{% endif %}
{% endblock %}