{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>To-do List</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'home' %}">To-Do List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class='nav-item'>
          <a class='nav-link' href="{% url 'logout-user'%}">Logout</a>
        </li>
        <li>
          <p>{{ user.points }}</p>
        </li>
        {% else %}
        <li class='nav-item'>
          <a class='nav-link' href="{% url 'login-user' %}">Login</a>
        </li>
        {% endif %}
      </ul>
      <button class="btn btn-outline-light my-2 my-sm-0" type="button" data-toggle="modal"
        data-target="#exampleModalCenter">
        Add to List
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add New Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form class="from-inline my-2 my-lg-0" method="POST">
              <div class="modal-body">
                {% csrf_token %}
                <div class='form-group'>
                  <label for="ItemNaem">Item</label>
                  <input class="form-control" type="search" placeholder="Enter The Item" aria-label="Search" name="item"
                    id="ItemName">
                </div>
                <div class='form-group'>
                  <label for='deadline'>Deadline</label>
                  <input class="form-control" type="date" value="today" placeholder='today' min='today' name='deadline'
                    id='deadline'>
                  <small class='form-text text-muted'>Deadline cannot be earlier than today</small>
                </div>
                <div class='form-group'>
                  <input class="form-control" type="number" min="100" step='100' placeholder="Enter The Points"
                    name="points">
                  <input type="hidden" value="false" name="completed">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
                <button type="submit" class="btn btn-primary">Add To List</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--
      <form class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Add to list</button>
      </form>
    -->
    </div>
  </nav>
  <br />
  <div class='container'>
    {% if messages %}
    {% for message in messages %}
    <div class='alert alert-warning alert-dismissable' role='alert'>
      <button class='close' data-dismiss='alert'>
        <small<><sup></sup></small>
      </button>
      {{ message}}
    </div>
    {% endfor %}
    {% endif%}

    {% block content %}
    {% endblock %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>