{% extends 'base.html' %}

{% block content %}
<div class="Container-fluid fill">
    <div class="row fill">
        <div class="col border-right border-light">
            {% if user.is_authenticated %}
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addToList">
                Add to List
            </button>
            <!-- Modal -->
            <div class="modal fade" id="addToList" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add New Item</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <form class="from-inline my-2 my-lg-0" method="POST" action='/todo/home/' name="ListForm">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class='form-group'>
                                    <label for="ItemNaem">Item</label>
                                    <input class="form-control" type="search" placeholder="Enter The Item"
                                        aria-label="Search" name="item" id="ItemName">
                                </div>
                                <div class='form-group'>
                                    <label for='ddl_date'>Deadline</label>
                                    <input class="form-control" type="date" value="today" placeholder='today'
                                        min='today' name='ddl_date' id='ddl_date'>
                                    <small class='form-text text-muted'>Deadline cannot be earlier than today</small>
                                </div>
                                <div class='form-group'>
                                    <label for='points'>Points</label>
                                    <input class="form-control" type="number" min="100" step='100'
                                        placeholder="Enter The Points" name="points" id="points">
                                    <input type="hidden" value="false" name="completed">
                                </div>
                                <div class="form-group">
                                    <label for='description'>Description</label>
                                    <textarea class="form-control" id="description" name='description' rows="3"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
                                <button type="submit" class="btn btn-primary">Add To List</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addWish">
                Add new wish
            </button>

            <!-- Modal -->
            <div class="modal fade" id="addWish" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add New Wish</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="from-inline my-2 my-lg-0" method="POST" action='/todo/wish/'>
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="wish-item">Wish</label>
                                    <input class="form-control" type="search" placeholder="Enter New Wish"
                                        aria-label="Search" name="item" id="wish-item">
                                </div>
                                <div class="form-group">
                                    <label for="wish-points">Points</label>
                                    <input class="form-control" type="number" placeholder="Points It Worths"
                                        aria-label="Search" name="points" id="wish-points">
                                </div>
                                <div class="form-group">
                                    <label for="wish-link">Link</label>
                                    <input class="form-control" type="search" placeholder="Link to the product"
                                        aria-label="Search" name="link" id="wish-link">
                                </div>
                                <div class="form-group">
                                    <label for="wish-description">description</label>
                                    <input class="form-control" type="search" placeholder="Description"
                                        aria-label="Search" name="description" id="wish-description">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add New Wish</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-8 fill">
            {% block listcontent %}
            {% endblock %}
        </div>
        <div class="col border-left border-lightk fill">
            This is right
        </div>
    </div>
</div>

{% endblock %}